# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
insights-video

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.trigger
#10x Velocity Homepage.png
#Govbrokers pricing.png

# Windows reserved device names
nul
10x Velocity Homepage.png
Govbrokers pricing.png
